body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(135deg,#141e30,#243b55);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.container{
width:420px;
}

.card{
background:rgba(255,255,255,0.1);
backdrop-filter:blur(12px);
padding:25px;
border-radius:20px;
text-align:center;
animation:fade 0.5s ease;
}

input{
width:100%;
padding:10px;
margin:8px 0;
border:none;
border-radius:10px;
}

button{
width:100%;
padding:10px;
margin-top:8px;
border:none;
border-radius:10px;
background:#6a0dad;
color:white;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#8e44ad;
transform:scale(1.05);
}

.switch{
cursor:pointer;
color:#ccc;
margin-top:10px;
}

.hidden{display:none;}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
margin-top:15px;
}

.item{
position:relative;
}

.item img{
width:100%;
border-radius:12px;
}

.item button{
position:absolute;
bottom:5px;
left:5px;
width:auto;
padding:5px;
font-size:12px;
}

.avatar{
width:100px;
height:100px;
border-radius:50%;
object-fit:cover;
margin-bottom:10px;
}

.admin{
background:rgba(255,0,0,0.2);
padding:10px;
margin-top:15px;
border-radius:12px;
}

@keyframes fade{
from{opacity:0;transform:translateY(-15px);}
to{opacity:1;transform:translateY(0);}
}
