 body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                      url("imagen.jpg");
    background-size: cover;
    background-position: center;
   margin: 0;
}
}
.logo{
   background-image: url("imagen.jpg");
   background-size: cover;
   background-position: center;
   height: 400px;
   width: 100%;
}
header {
    display: flex;
    justify-content: flex-start; /* izquierda */
    align-items: flex-start;     /* arriba */
    padding: 20px;
}


